@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base text-black bg-bg-color;
	font-family: 'Golos Text', sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}
input {
	outline: none;
}
button {
	margin: 0;
	padding: 0;
}
textarea {
	resize: none;
	outline: none;
}
